<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Football games</title>
    </head>

    <body>
        <div layout:fragment="my-left-content">
            <h3>test content</h3>
            <h2>football events</h2>

            <table border="1">
                <thead>
                <td>game unique id</td>
                <td>competition</td>
                <td>name</td>
                <td>starts at</td>
                <td>market name</td>
                </thead>

                <tr th:each="event : ${events}">
                    <td th:text="${event.getUniqueId()}"></td>
                    <td th:text="${event.getCompetition()}"></td>
                    <td th:text="${event.getName()}"></td>
                    <td th:text="${#temporals.format(event.getStartGame(), 'dd-MM HH:mm')}"></td>

                    <td>
                        <table border="2">
                            <tr th:each="market : ${event.getSelections()}">
                                <td th:text="${market.getKey()}">
                                </td>
                                <td>
                                    <table border="3">
                                        <tr th:each="selection, iterStat : ${market.getValue()}">
                                            <td>
                                                <span th:if="${iterStat.index == 0}">1</span>
                                                <span th:if="${iterStat.index == 1}">X</span>
                                                <span th:if="${iterStat.index == 2}">2</span>
                                            </td>
<!--                                            <td>-->
<!--                                                <form th:action="@{/settler/bet}" method="post">-->
<!--                                                    <input type="hidden" name="value" th:value="${selection.toPlainString()}" th:object="${selection}">-->
<!--                                                    <input type="hidden" name="marketName" th:value="${event.getName()}" th:object="${selection}">-->
<!--                                                    <input type="hidden" name="uniqueId" th:value="${event.getUniqueId()}" th:object="${selection}">-->
<!--                                                    <input type="hidden" name="competition" th:value="${event.getCompetition()}" th:object="${selection}">-->
<!--                                                    <input type="hidden" name="marketType" th:value="${market.getKey().toString()}" th:object="${selection}">-->
<!--                                                    <input type="hidden" name="userType" th:value="${iterStat.index}" th:object="${selection}">-->
<!--                                                    <button name="selection" th:text="${selection.toPlainString()}" type="submit"></button>-->
<!--                                                </form>-->
<!--                                            </td>-->
                                            <td>
                                                <button th:name="${'odd_button_' + event.getUniqueId() + '_' + selection.toPlainString() + '_' + iterStat.index}"
                                                        th:attr="data-el_event-name=${event.getName()}, data-el_market-type=${market.getKey().toString()}, data-el_selection=${selection.toPlainString()}, data-el_user-type=${iterStat.index}, data-el_competition=${event.getCompetition()}, data-el_start-date=${#temporals.format(event.getStartGame(), 'dd-MM HH:mm')}"
                                                        th:text="${'new' + selection.toPlainString()}"></button>
                                                <!--                                                        th:attr="data-id=${event.getUniqueId()}, data-event-name=${event.getName()}, data-market-type =${market.getKey().toString()}, data-selection=selection.toPlainString(), data-user-type=${iterStat.index}, data-competition=${event.getCompetition()}"-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div th:if="${session.selections != null}">

                <table>
                    <tr th:each="selection : ${session.selections}">
                        <!--/*@thymesVar id="value" type="com.pulawskk.bettingsite.models.Selection"*/-->
                        <td th:text="${selection.value}"></td>
                    </tr>
                </table>

                <form th:action="@{/settler/placeBet}" method="post">
                    <!--/*@thymesVar id="betSlipDto" type="com.pulawskk.bettingsite.models.BetSlipDto"*/-->
                    <input type="number" name="stake" placeholder="2" value="2" th:object="${betSlipDto}">
                    <span th:if="${session.selections.size() == 1}">
                            <div>
                                single:
                                <input type="checkbox" name="singleBetSlip" value="single" checked="checked">
                            </div>
                            <div>
                                multiple:
                                <input type="checkbox" name="multiBetSlip" value="multi" disabled="disabled">
                            </div>
                        </span>
                    <span th:if="${session.selections.size() > 1}">
                            <div>
                                single:
                                <input type="checkbox" name="singleBetSlip" value="single">
                            </div>
                            <div>
                                multiple:
                                <input type="checkbox" name="multiBetSlip" value="multi" checked="checked">
                            </div>
                        </span>

                    <button name="betSlip" th:text="'PLACE BETSLIP'" type="submit"></button>
                </form>
            </div>


        </div>
    </body>

</html>