<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Football games</title>
</head>
<body>
    <div layout:fragment="my-left-content">
        <h2>results profit</h2>
<!--        <table class="table" style="max-width: 90%">-->
<!--            <thead class="thead-dark">-->
<!--                <tr>-->
<!--                    <th scope="col">id</th>-->
<!--                    <th scope="col">competition</th>-->
<!--                    <th scope="col">name</th>-->
<!--                    <th scope="col">ended at</th>-->
<!--                </tr>-->
<!--            </thead>-->

<!--            <tr th:each="result : ${results}">-->
<!--                <td th:text="${result.getUniqueId()}"></td>-->
<!--                <td th:text="${result.getCompetition()}"></td>-->
<!--                <td th:text="${result.getName()}"></td>-->
<!--                <td th:text="${#temporals.format(result.getEndGame(), 'dd-MM HH:mm')}"></td>-->
<!--            </tr>-->
<!--        </table>-->
    </div>
</body>

</html>