<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Football games</title>
</head>
<body>
    <div layout:fragment="my-left-content">
        <h2>Transactions history</h2>
        <table class="table" style="max-width: 90%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction type</th>
                    <th scope="col">Completed at</th>
                </tr>
            </thead>

            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.getAmountInTransaction()}"></td>
                <td th:text="${transaction.getTransactionType()}"></td>
                <td th:text="${#temporals.format(transaction.createdAt, 'dd-MM HH:mm')}"></td>
            </tr>
        </table>
    </div>
</body>

</html>