<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Football games</title>
    </head>

    <body>
        <div layout:fragment="my-left-content">
            <div sec:authorize="!isAuthenticated()" >
                <div class="text-center">
                    <div class="text-primary h4" th:text="'Please sign in or sign up if you do not have an account!'"></div>
                </div>
            </div>
        </div>
    </body>

</html>